<mat-toolbar>
    <span>Privilegié.e.s ?</span>
</mat-toolbar>

<div class="container">
    <div class="plateau">
        <app-plateau></app-plateau>
        <app-regles></app-regles>
    </div>
    <div class="affiche" *ngIf="imageEnCours$ | async as image">
        <img src="{{image}}" alt="" class="image-en-cours" (click)="ouvrirImageDialog(image)">
    </div>
</div>
