<mat-tab-group class="content">
    <mat-tab label="Règles du jeu">
        <div>
            Pour jouer :
            <ul>
                <li>A partir de 12 ans</li>
                <li>2 équipes de 2 joueurs ou plus</li>
            </ul>
            Déroulement d'une partie :
            <ul>
                <li>1 partie = 12 affiches</li>
                <li>Appuyer sur le bouton pour déclencher les affiches ouvrant au débat</li>
                <li>Les équipes ont 45 secondes pour se concerter avant d'apporter leur réponse</li>
                <li>Les réponses des affiches se trouvent dans les onglets</li>
                <li>Le code couleur des onglets est le suivant: rouge = violence, bleu = tabou, violet = privilège, jaune = stereotype</li>
            </ul>
            Comment gagner :
            <ul>
                <li>La réponse la plus complète emporte 2 Points</li>
                <li>Une réponse équivalente donne 1 point à chaque groupe</li>
                <li>L'équipe ayant le plus de points gagne la partie</li>
            </ul>

            <p><i>Jeu créé par trois élèves du lycée le Blavet à Pontivy (Eléna, Méganne et Lana), accompagnés par le CIDFF du Morbihan et le PIJ de Pontivy.</i></p>
        </div>
    </mat-tab>
    <mat-tab *ngFor="let elementReponse of elementsReponse" [label]="elementReponse.titre" >
        <mat-grid-list [cols]="10" rowHeight="50px" *ngFor="let question of elementReponse.questions">
            <mat-grid-tile colspan="2" rowspan="2"><button mat-raised-button color="primary" (click)="question.reponseAffichee = !question.reponseAffichee">{{question.reponseAffichee ? 'Cacher' : 'Afficher la réponse'}}</button></mat-grid-tile>
            <mat-grid-tile colspan="8" rowspan="1"><b>{{question.question}}</b></mat-grid-tile>
            <mat-grid-tile colspan="8" rowspan="2"><p *ngIf="question.reponseAffichee"> {{question.reponse}}</p></mat-grid-tile>
        </mat-grid-list>

        <a href="{{elementReponse.livret}}"  mat-raised-button color="primary">Livret annexe {{elementReponse.titre}}</a>
    </mat-tab>
</mat-tab-group>

